In [67]:
import pandas as pd
import os
from tqdm.auto import tqdm
import requests
url = "https://dictionary.yandex.net/api/v1/dicservice.json/lookup"
import time

# en ru fr

In [8]:
store_folder = "/Users/nigula/LL/adjust_unigr_dict/reverse_connected_dicts/cross_barbos"
all_pd = []
for obj in os.listdir(store_folder):
    if "." not in obj:
        for pd_save_file in os.listdir(os.path.join(store_folder, obj)):
            if "_" in pd_save_file and "DS_Store" not in pd_save_file:
                print (pd_save_file)
                curr_pd = pd.read_csv(os.path.join(store_folder, obj, pd_save_file))
                all_pd.append(curr_pd)

48400_stop.csv
30500_stop.csv
39900_stop.csv
59900_stop.csv
30100_stop.csv
36400_stop.csv
32000_stop.csv
60000_stop.csv
75300_stop.csv
90000_stop.csv
63700_stop.csv
8600_stop.csv
500_stop.csv
30000_stop.csv
4300_stop.csv
16300_stop.csv
1100_stop.csv
29900_stop.csv
300_stop.csv

In [9]:
prev_res = pd.read_csv("/Users/nigula/LL/adjust_unigr_dict/reverse_connected_dicts/cross_barbos/current_en_ru_fr_no_dub_friday.csv")

In [10]:
all_pd.append(prev_res)

In [11]:
overall_df = pd.concat(all_pd)
overall_df.head()

   Unnamed: 0         en             ru              fr
0           0      gaily         весело     joyeusement
1           1      gaily           ярко     no_equality
2           2   nightcap  ночной колпак  bonnet de nuit
3           3   nightcap   ночной чепец     no_equality
4           4  Dominator      властелин     no_equality

In [12]:
overall_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198607 entries, 0 to 43337
Data columns (total 4 columns):
Unnamed: 0    198607 non-null int64
en            198607 non-null object
ru            198607 non-null object
fr            198607 non-null object
dtypes: int64(1), object(3)
memory usage: 7.6+ MB

In [14]:
overall_df_unique = overall_df.drop_duplicates()

In [15]:
overall_df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164692 entries, 0 to 43337
Data columns (total 4 columns):
Unnamed: 0    164692 non-null int64
en            164692 non-null object
ru            164692 non-null object
fr            164692 non-null object
dtypes: int64(1), object(3)
memory usage: 6.3+ MB

In [16]:
overall_df_unique.head()

   Unnamed: 0         en             ru              fr
0           0      gaily         весело     joyeusement
1           1      gaily           ярко     no_equality
2           2   nightcap  ночной колпак  bonnet de nuit
3           3   nightcap   ночной чепец     no_equality
4           4  Dominator      властелин     no_equality

In [21]:
handled_eng_words = set(list(overall_df_unique['en']))

In [22]:
len(handled_eng_words)

38777

In [19]:
all_eng_lemmas = pd.read_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/eng_vocab_all_lemmas.csv")

In [20]:
all_eng_lemmas.head()

   Unnamed: 0        word
0           0    variorum
1           1        shun
2           2      couple
3           3  anticipate
4           4      affair

In [23]:
all_eng_lemmas_eng = set(list((all_eng_lemmas['word'])))

In [27]:
len(all_eng_lemmas_eng)

54044

In [26]:
len(all_eng_lemmas_eng - handled_eng_words) + len(handled_eng_words)

61583

In [30]:
import json

In [77]:
empty_lookup = []

folder = "/Users/nigula/LL/adjust_unigr_dict/lookup/yandex_lookup_en_ru"
for file in tqdm(os.listdir(folder)):
    #print(os.path.join(folder,file))
    if "DS_Store" not in file:
        with open (os.path.join(folder,file), "r") as f:
            try:
                lookup = json.load(f, encoding = "utf-8")
            except:
                print(file)
                lookup = json.load(f, encoding = "cp1252")
        if len(lookup['def']) == 0:
            empty_lookup.append(file.split(".")[0])

HBox(children=(IntProgress(value=0, max=56075), HTML(value='')))

In [51]:
len(empty_lookup)

15973

In [53]:
unhandled_words_in_current_df = all_eng_lemmas_eng - handled_eng_words

In [54]:
unhandled_lookup_set = set(unhandled_lookup)

In [55]:
len(unhandled_words_in_current_df), len(unhandled_lookup_set)

(22806, 15973)

In [57]:
len(unhandled_words_in_current_df - unhandled_lookup_set)

7429

In [59]:
unhandled_non_lookedup_words = unhandled_words_in_current_df - unhandled_lookup_set

In [61]:
vertolet_token = "dict.1.1.20191029T212638Z.e3a6524ff15de8ee.53dbf57d908343531709c5f0686045121f0fc6ae"

In [69]:
def get_y_lookup_json(from_lang_words_list, from_lang, to_lang, token, directory_with_handled_files):
    handled_words_from_folder = []
    for word in os.listdir(directory_with_handled_files):
        handled_words_from_folder.append(word.split('.')[0])
    handled_words_from_folder = set(handled_words_from_folder)

    handled_here = []
    save_folder = "./lookup/yandex_lookup_" + from_lang + "_" + to_lang
    handled_before = 0
    count = 0 
    for fr_word in tqdm(from_lang_words_list):
        #print(fr_word)
        isnan = False
        #print(count, start_from_count)
        try:
            isnan = math.isnan(fr_word)
        except:
            pass
        if fr_word in handled_words_from_folder:
            handled_before += 1
        if fr_word != "no_equality" and isnan == False and fr_word not in handled_here and fr_word not in handled_words_from_folder:
            lang_pair = from_lang + "-" + to_lang
            headers = {"key":token,
                  "lang":lang_pair,"text":fr_word}
            ddd = requests.get(url, headers).json()
            if 'message' in ddd and ddd['message'] == "Limit of daily requests exceeded":
                print("LIMIT REACHED")
                break
            try:
                save_loc = save_folder + "/" + fr_word + ".json"
            except:
                print(fr_word, "is ambigious float or smth")
                continue
            with open(save_loc, 'w') as f:
                json.dump(ddd, f, indent = 4, ensure_ascii=False)
            handled_here.append(fr_word)
            time.sleep(0.0001)
        else:
            #print("===>>>>skipped")
            pass
            
        count += 1
    print(handled_before,"handled_before",count, "count" )

In [76]:
looked_up_list = []
for word_lookup in os.listdir(handled):
    w = word_lookup.split(".")[0]
    looked_up_list.append(w)
len(set(looked_up_list))

56075

In [75]:
handled_eng_words = set(list(overall_df_unique['en']))
len(handled_eng_words)

38777

In [78]:
len(empty_lookup)

15973

In [80]:
type(empty_lookup)

list

In [ ]:
handled_eng_words +

In [79]:
len(handled_eng_words) + len(empty_lookup)

54750

In [70]:
handled = "/Users/nigula/LL/adjust_unigr_dict/lookup/yandex_lookup_en_ru"

get_y_lookup_json(list(unhandled_non_lookedup_words), "en", "ru", token = vertolet_token,
                  directory_with_handled_files = handled)

HBox(children=(IntProgress(value=0, max=7429), HTML(value='')))

nan is ambigious float or smth

7426 handled_before 7428 count