In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./save_jung_id/bigramChiTable/bigramChiTable_1006_1015.csv")

In [8]:
df2 = pd.read_csv("./save_jung_id/bigramChiTable/bigramChiTable_1057_1066.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 3 columns):
Unnamed: 0    3437 non-null int64
bigram        3437 non-null object
chi-sq        3437 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 80.6+ KB

In [9]:
df2.head(50)

    Unnamed: 0                     bigram         chi-sq
0            0          ('Coco', 'Lorum')  297497.000000
1            1           ('Omby', 'Amby')  297497.000000
2            2         ('Tinker', 'Bell')  285100.333259
3            3           ('Wul', 'Takim')  283329.523745
4            4  ('librivox', 'recording')  283329.523745
5            5         ('Tin', 'Woodman')  274810.484117
6            6             ('De', 'Graf')  257828.999924
7            7           ('Coo-ee', 'oh')  249770.939125
8            8             ('Su-', 'dic')  244995.058707
9            9             ('l', 'Frank')  233745.285627
10          10        ('Diamond', 'Swan')  194511.384279
11          11         ('Jellia', 'Jamb')  192494.176327
12          12       ('button', 'Bright')  188015.900107
13          13          ('Frank', 'Baum')  177077.023643
14          14         ('Uncle', 'Henry')  160457.835872
15          15         ('Cookie', 'cook')  157685.964874
16          16    ('Supreme', 'Dictator')  147237.787448
17          17     ('grand', 'Gallipoot')  139443.280802
18          18                ("'", 'll')  136059.055083
19          19       ('Prince', 'Marvel')  129449.844328
20          20     ('Master', 'Woodsman')  119140.992327
21          21        ('Emerald', 'city')  117310.690169
22          22       ('Christmas', 'Eve')  113624.848466
23          23             ('s', "'pose")  110177.777566
24          24             ('Aunt', 'Em')  108739.526012
25          25         ('fool', 'Killer')  106239.285228
26          26       ('public', 'domain')  102931.902808
27          27          ('Lady', 'Aurex')  100728.041653
28          28           ('Aunt', 'Jane')   82177.567085
29          29         ('mrs', 'Darling')   79237.550306
30          30       ('Cowardly', 'Lion')   70297.616446
31          31        ('Silas', 'Watson')   68056.337337
32          32     ('Laughing', 'valley')   66349.492274
33          33    ('Jack', 'Pumpkinhead')   64040.310262
34          34          ('golden', 'Pig')   62834.183196
35          35          ('yellow', 'Hen')   62208.208400
36          36           ('red', 'Wagon')   62058.757488
37          37            ('mrs', 'Darl')   57527.483091
38          38             ('high', 'Ki')   56734.828970
39          39          ('tiger', 'Lily')   56123.395954
40          40              ('won', "'t")   44794.245610
41          41         ('Santa', 'Claus')   44624.102408
42          42          ('lady', 'Aurex')   40961.765333
43          43           ('glass', 'Cat')   39219.164367
44          44       ('King', 'Terribus')   38471.892350
45          45      ('mister', 'Darling')   37910.642073
46          46          ('magic', 'Belt')   37522.141096
47          47           ('high', 'Coco')   35857.927945
48          48              ('do', 'not')   34018.817252
49          49          ('Uncle', 'John')   27769.454901

In [7]:
df.head(50)

    Unnamed: 0                      bigram         chi-sq
0            0               ('ma', "'am")  289964.000000
1            1   ('librivox', 'recording')  276155.238030
2            2        ('Kriss', 'Kringle')  265799.416632
3            3        ('United', 'States')  263602.727241
4            4               ('Mu', "'ín")  205386.208043
5            5     ('Professor', 'Bumper')  202379.210373
6            6         ('Shaw', 'zummaun')  168675.850749
7            7               ('al', 'Din')  156661.052065
8            8                ('Nu', 'al')  145938.438842
9            9       ('young', 'inventor')  139966.827485
10          10                 ("'", 'll')  128057.039724
11          11         ('Copan', 'valley')  125587.635558
12          12               ('Tank', 'A')  120691.199123
13          13                ('Al', 'Mu')  117857.966450
14          14        ('Shaykh', 'Ibrahe')  115908.962584
15          15         ('mister', 'Damon')  105575.353885
16          16     ('physician', 'Douban')  101195.578995
17          17       ('Shaykh', 'Ibrahim')  101140.464611
18          18        ('public', 'domain')   92929.358681
19          19      ('auspicious', 'King')   92401.137696
20          20        ('Hank', 'Sterling')   86980.799652
21          21           ('de', 'Vargnes')   83330.087967
22          22        ('Sam', 'Snedecker')   64425.555030
23          23              ('Al', 'Fazl')   61114.408996
24          24      ('police', 'director')   59255.122894
25          25         ('bin', 'Sulayman')   59168.367072
26          26              ('Din', 'Ali')   57309.615145
27          27   ('visit', 'librivox.org')   54702.075192
28          28             ('bin', 'Sáwí')   53787.791887
29          29          ('mrs', 'Baggert')   52304.660026
30          30            ('Shier', 'ear')   52115.235231
31          31          ('motor', 'cycle')   50820.427461
32          32               ('Kut', 'al')   46836.037443
33          33         ('shirt', 'button')   46750.644546
34          34      ('storage', 'battery')   44810.356628
35          35          ('Val', 'Jacinto')   44669.367928
36          36   ('Shahrazad', 'perceive')   43955.737679
37          37           ('Monsieu', 'de')   43210.136273
38          38         ('grand', 'vizier')   40119.748069
39          39           ('bin', 'Khákán')   39439.591534
40          40  ('convenient', 'distance')   39146.617892
41          41    ('electric', 'runabout')   39004.673276
42          42          ('dining', 'room')   36075.746921
43          43            ('Uncle', 'Sam')   34794.669292
44          44               ('do', 'not')   34456.519245
45          45              ('Ja', 'afar')   34067.113227
46          46     ('electronic', 'brain')   31576.845885
47          47              ('Anis', 'al')   29336.130766
48          48             ('al', 'Jalis')   29336.130766
49          49           ('Andy', 'Foger')   27990.516317