In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/nigula/LL/adjust_unigr_dict/reverse_connected_dicts/reverse_dict_eval_dataframe/MARKED_cross_Y_contrev_WITH_POS_cossim05_coverage075 - df_yandex_context_revers_cross_approach_eval_vs_pos.csv")

In [3]:
df.head()

,Unnamed: 0,eng_word,reference_coverage,paired_eval_pairs,некорректная эквивалентность,non_absolute_equialence_list,equialence_list,reference_pairs_list,evaluated_pairs_list,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,letter,6.666670e+15,1.818180e+16,0,NaN,письмо_lettre==письмо_lettre || буква_lettre==...,"['письмо_lettre', 'буква_lettre', 'буква_carac...","['письмо_lettre', 'письмо_courrier', 'письмо_é...",NaN,NaN,NaN,NaN
1,1,plate,5.000000e-01,6.666670e+15,0,NaN,тарелка_assiette==тарелка_assiette ||,"['тарелка_assiette', 'тарелка_plat']","['пластина_plaque', 'пластина_planche', 'плита...",NaN,NaN,NaN,NaN
2,2,dinner,1.000000e+00,4.545450e+16,5,обед_déjeuner==обед_dîner || обед_déjeuner==об...,обед_déjeuner==обед_dîner || обед_déjeuner==об...,"['обед_déjeuner', 'ужин_dîner']","['обед_dîner', 'обед_souper', 'обед_repas', 'о...",NaN,NaN,NaN,NaN
3,3,necessary,1.000000e+00,2.000000e-01,0,необходимый_nécessaire==необходимый_indispensa...,необходимый_nécessaire==необходимый_nécessaire...,['необходимый_nécessaire'],"['необходимый_nécessaire', 'необходимый_indisp...",NaN,NaN,NaN,NaN
4,4,secret,1.000000e+00,3.076920e+15,1,секретный_secret==тайный_secret || секретный_s...,секрет_secret==секрет_secret || тайный_secret=...,"['секрет_secret', 'секретный_secret', 'тайный_...","['секрет_secret', 'тайный_secret', 'потайной_n...",NaN,NaN,NaN,NaN

In [5]:
short_df = pd.DataFrame()
short_df['incorrect_eq'] = df['некорректная эквивалентность']
short_df['non_absolute_equialence_list'] = df['non_absolute_equialence_list']
short_df['whole_equialence_list'] = df['equialence_list']

short_df.head()

,incorrect_eq,non_absolute_equialence_list,whole_equialence_list
0,0,NaN,письмо_lettre==письмо_lettre || буква_lettre==...
1,0,NaN,тарелка_assiette==тарелка_assiette ||
2,5,обед_déjeuner==обед_dîner || обед_déjeuner==об...,обед_déjeuner==обед_dîner || обед_déjeuner==об...
3,0,необходимый_nécessaire==необходимый_indispensa...,необходимый_nécessaire==необходимый_nécessaire...
4,1,секретный_secret==тайный_secret || секретный_s...,секрет_secret==секрет_secret || тайный_secret=...

In [9]:
def get_pairs_number(pairs_list):
    if 'float' not in str(type(pairs_list)):
        pairs_list_split = pairs_list.split("||")
        return len(pairs_list_split) - 1
    else:
        return 0
short_df['nonabseq_pairs_number'] = short_df['non_absolute_equialence_list'].apply(get_pairs_number)
short_df['all_pairs_number'] = short_df['whole_equialence_list'].apply(get_pairs_number)

short_df.head()

,incorrect_eq,non_absolute_equialence_list,whole_equialence_list,nonabseq_pairs_number,all_pairs_number
0,0,NaN,письмо_lettre==письмо_lettre || буква_lettre==...,0,2
1,0,NaN,тарелка_assiette==тарелка_assiette ||,0,1
2,5,обед_déjeuner==обед_dîner || обед_déjeuner==об...,обед_déjeuner==обед_dîner || обед_déjeuner==об...,6,7
3,0,необходимый_nécessaire==необходимый_indispensa...,необходимый_nécessaire==необходимый_nécessaire...,1,2
4,1,секретный_secret==тайный_secret || секретный_s...,секрет_secret==секрет_secret || тайный_secret=...,3,5

In [10]:
1 - np.sum(short_df['incorrect_eq'])/np.sum(short_df['nonabseq_pairs_number'])

0.7591836734693878

In [11]:
non_abs_eq = pd.DataFrame()
non_abs_eq = short_df[short_df['nonabseq_pairs_number'] != 0]
non_abs_eq.head()

,incorrect_eq,non_absolute_equialence_list,whole_equialence_list,nonabseq_pairs_number,all_pairs_number
2,5,обед_déjeuner==обед_dîner || обед_déjeuner==об...,обед_déjeuner==обед_dîner || обед_déjeuner==об...,6,7
3,0,необходимый_nécessaire==необходимый_indispensa...,необходимый_nécessaire==необходимый_nécessaire...,1,2
4,1,секретный_secret==тайный_secret || секретный_s...,секрет_secret==секрет_secret || тайный_secret=...,3,5
6,1,согревать_réchauffer==согревать_réchauffer | c...,теплый_chaud==теплый_chaud || теплый_chaleureu...,1,3
7,0,Америка_Amérique==Америка_amérique ||,Америка_Amérique==Америка_amérique ||,1,1

In [13]:
np.median(non_abs_eq['incorrect_eq']), np.median(non_abs_eq['nonabseq_pairs_number'])

(0.0, 2.0)

In [14]:
np.mean(non_abs_eq['incorrect_eq']), np.mean(non_abs_eq['nonabseq_pairs_number'])

(0.6344086021505376, 2.6344086021505375)

In [18]:
1 - np.sum(non_abs_eq['incorrect_eq'])/np.sum(non_abs_eq['nonabseq_pairs_number']), np.sum(non_abs_eq['incorrect_eq'])/np.sum(non_abs_eq['nonabseq_pairs_number'])

(0.7591836734693878, 0.24081632653061225)

In [19]:
1 - np.sum(non_abs_eq['incorrect_eq'])/np.sum(non_abs_eq['all_pairs_number']), np.sum(non_abs_eq['incorrect_eq'])/np.sum(non_abs_eq['all_pairs_number'])

(0.8314285714285714, 0.16857142857142857)

In [20]:
1 - np.sum(short_df['incorrect_eq'])/np.sum(short_df['all_pairs_number']), np.sum(short_df['incorrect_eq'])/np.sum(short_df['all_pairs_number'])

(0.864367816091954, 0.135632183908046)