In [2]:
import pandas as pd
import os

# FROM TOP WORD RATING

In [38]:
os.listdir("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/by_wordrating")

['300-400k_lemma.csv',
 '.DS_Store',
 '200-300k_lemma.csv',
 'unique_lemmas_wordrate_from_top400.csv',
 '100-200k_lemma.csv',
 '0-100k_lemma.csv']

In [39]:
all_df_list = []
abs_path = "/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/by_wordrating"
for df_path in os.listdir(abs_path):
    if "DS_Store" not in df_path:
        df = pd.read_csv(os.path.join(abs_path, df_path))
        all_df_list.append(df)

In [41]:
all_df = pd.concat(all_df_list,axis=0)
all_df.head()

/Users/nigula/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     ?column?  Unnamed: 0 word  word_rating
0    variorum         NaN  NaN         16.0
1        shun         NaN  NaN         16.0
2      couple         NaN  NaN         16.0
3  anticipate         NaN  NaN         16.0
4      affair         NaN  NaN         16.0

In [42]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446129 entries, 0 to 99999
Data columns (total 4 columns):
?column?       399980 non-null object
Unnamed: 0     46129 non-null float64
word           46128 non-null object
word_rating    400000 non-null float64
dtypes: float64(2), object(2)
memory usage: 17.0+ MB

In [43]:
all_words_by_rating = pd.DataFrame()
all_words_by_rating['word'] = all_df['?column?']

In [44]:
all_words_by_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446129 entries, 0 to 99999
Data columns (total 1 columns):
word    399980 non-null object
dtypes: object(1)
memory usage: 6.8+ MB

In [45]:
all_words_by_rating = all_words_by_rating.drop_duplicates()

In [46]:
all_words_by_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46129 entries, 0 to 99949
Data columns (total 1 columns):
word    46128 non-null object
dtypes: object(1)
memory usage: 720.8+ KB

In [47]:
all_words_by_rating.to_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/by_wordrating/unique_lemmas_wordrate_from_top400.csv")

# FROM TOP KEYWORDS

In [48]:
kw = pd.read_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/keywords/keywords_more_10_lemmas_not_unique.csv")

In [49]:
kw.head()

       word  word_cnt
0  woodruff       848
1       qur       709
2    sabine       633
3    panzer       600
4     ahmad       571

In [50]:
kw_word_only = pd.DataFrame()
kw_word_only['word'] = kw['word']
kw_word_only.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26742 entries, 0 to 26741
Data columns (total 1 columns):
word    26742 non-null object
dtypes: object(1)
memory usage: 209.0+ KB

In [51]:
kw_word_only_unique = kw_word_only.drop_duplicates()

In [52]:
kw_word_only_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26742 entries, 0 to 26741
Data columns (total 1 columns):
word    26742 non-null object
dtypes: object(1)
memory usage: 417.8+ KB

In [53]:
kw_word_only_unique.to_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/keywords/keywords_more_10_lemmas_UNIQUE.csv")

# FROM TOP FREQ

In [54]:
top_freq_lemmas = pd.read_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/topwords/topwords_lemmas_not_unique.csv")

In [55]:
top_freq_lemmas.head()

   word  word_cnt
0   the   2764665
1   and   2729658
2  that   2609765
3   for   2507278
4  with   2433755

In [56]:
top_freq_lemmas_only = pd.DataFrame()
top_freq_lemmas_only['word'] = top_freq_lemmas['word']
top_freq_lemmas_only.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23041 entries, 0 to 23040
Data columns (total 1 columns):
word    23039 non-null object
dtypes: object(1)
memory usage: 180.1+ KB

In [57]:
top_freq_lemmas_only = top_freq_lemmas_only.drop_duplicates()
top_freq_lemmas_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23040 entries, 0 to 23040
Data columns (total 1 columns):
word    23039 non-null object
dtypes: object(1)
memory usage: 360.0+ KB

In [58]:
top_freq_lemmas_only.head()

   word
0   the
1   and
2  that
3   for
4  with

In [24]:
top_freq_lemmas_only.to_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/topwords/topwords_lemmas_UNIQUE.csv")

# CONCAT ALL WORDS IN ONE DOC DROP DUPLICATES

In [59]:
all_sources = [all_words_by_rating, kw_word_only_unique, top_freq_lemmas_only]

In [60]:
final_word_list = pd.concat(all_sources)
final_word_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95911 entries, 0 to 23040
Data columns (total 1 columns):
word    95909 non-null object
dtypes: object(1)
memory usage: 1.5+ MB

In [61]:
final_word_list.head()

         word
0    variorum
1        shun
2      couple
3  anticipate
4      affair

In [62]:
final_word_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95911 entries, 0 to 23040
Data columns (total 1 columns):
word    95909 non-null object
dtypes: object(1)
memory usage: 1.5+ MB

In [63]:
final_word_list_unique = final_word_list.drop_duplicates()

In [64]:
final_word_list_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54044 entries, 0 to 23035
Data columns (total 1 columns):
word    54043 non-null object
dtypes: object(1)
memory usage: 844.4+ KB

In [32]:
final_word_list_unique.to_csv("/Users/nigula/LL/adjust_unigr_dict/BASIC_ENG_VOCAB/eng_vocab_all_lemmas.csv")