In [23]:
import pandas as pd
import numpy as np
import math

In [24]:
math.isnan(0)

False

In [34]:
lookup_eval = pd.read_csv("/Users/nigula/Desktop/adjust_unigr_dict/reverse_connected_dicts/evaluation/lookup_cl.csv")

In [43]:
lookup_eval = lookup_eval.drop_duplicates()
lookup_eval.head()

  eng_word       rus  Адекватность пары lookup (0,1,2)
0   before        до                                 0
3   before   впереди                                 1
4   before      пред                                 0
5   before  накануне                                 0
6   before    передо                                 0

In [36]:
lookup_eval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
eng_word                            204 non-null object
rus                                 204 non-null object
Адекватность пары lookup (0,1,2)    204 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.9+ KB

In [31]:
def detect_nan(val):
    try:
        isnan = math.isnan(val)
        if isnan == True: return True
    except:
        return False
    
detect_nan(list(lookup_eval_short_unique['Адекватность пары lookup (0,1,2)'])[300])

True

In [44]:
np.median(lookup_eval['Адекватность пары lookup (0,1,2)']), np.mean(lookup_eval['Адекватность пары lookup (0,1,2)'])

(0.0, 0.46794871794871795)

In [45]:
without_na_clean = pd.read_csv("/Users/nigula/Desktop/adjust_unigr_dict/reverse_connected_dicts/evaluation/without_na_clean.csv")
without_na_clean = without_na_clean.drop_duplicates()

In [46]:
without_na_clean.head()

  eng_word            rus           fr  Адекатность пары rus-fr (0,1,2)
0   eighth        восьмой  4ème | 8ème                                2
1   eighth  восьмая часть  4ème | 8ème                                2
2    fifty      полтинник       50 ans                                2
3   eighth        восьмой           8e                                0
4     East      на Восток      à l'est                                1

In [47]:
np.median(without_na_clean['Адекатность пары rus-fr (0,1,2)']), np.mean(without_na_clean['Адекатность пары rus-fr (0,1,2)'])

(0.0, 0.47738693467336685)