In [1]:
import pandas as pd
import requests
from tqdm.auto import tqdm
import os

In [2]:
df1 = pd.read_csv("pr_s_1.csv")
df2 = pd.read_csv("pr_simp_q.csv")
df3 = pd.read_csv("pr_simp.csv")

In [2]:
df_list = []
folder = "/Users/nigula/LL/detect incorrect trans/gramm"
for file in os.listdir(folder):
    print(file)
    df = pd.read_csv(os.path.join(folder, file))
    
    if ("English text" in list(df.columns)):
        training_name = file.split('.')[0]
        df_clean = pd.DataFrame()
        df_clean['English text'] = df['English text']
        df_clean['train_type'] = [training_name for _ in range(len(df))]
#         print(list(df_clean.columns))
        df_list.append(df_clean)
    else:
        print("skip", file)
    print()

past_continuous тneg.csv

numerals.csv

present_continuous neg.csv

past simple poz.csv

order_of_adjectives.csv

.DS_Store
skip .DS_Store

past_continuous.csv

past_continuous neg.csv
skip past_continuous neg.csv

Артикли a, an.csv

past_perfect_continuous neg.csv
skip past_perfect_continuous neg.csv

to_be_going_to neg.csv

future_continuous neg.csv

future_simple neg.csv

present_continuous.csv

indefinite_pronouns.csv

future_continuous.csv

present_perfect_continuous q.csv

Употребление.csv

present_perfect_continuous.csv

present_perfect neg.csv

present_perfect_continuous neg.csv

present_continuous q.csv

future_simple poz.csv

future_simple q.csv

there_is_there_are.csv

Указательные местоимения.csv

past_perfect q.csv

to_be_going_to q.csv

past_perfect neg.csv

past simple questions.csv

to_be_going_to.csv

future_continuous q.csv

past_continuous q.csv

present_perfect q.csv

ordinal_numbers.csv

personal_pronouns_obj_case.csv

past simple neg.csv

past_perfect.csv

Артикль the.csv

zero_article.csv

present_perfect.csv

In [34]:
df_list[0].head(10)

                   English text            train_type
0   They weren't working today.  past_continuous тneg
1      I wasn't meeting anyone.  past_continuous тneg
2   He wasn't attacking anyone.  past_continuous тneg
3     He wasn't doing anything.  past_continuous тneg
4      I wasn't doing anything!  past_continuous тneg
5        She wasn't going home.  past_continuous тneg
6        We weren't having fun.  past_continuous тneg
7  You weren't saying anything.  past_continuous тneg
8          I wasn't going home.  past_continuous тneg
9       We weren't watching TV.  past_continuous тneg

In [6]:
df_overall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6558 entries, 0 to 313
Data columns (total 2 columns):
English text    6558 non-null object
train_type      6558 non-null object
dtypes: object(2)
memory usage: 153.7+ KB

In [5]:
df_overall = pd.concat(df_list)
df_overall.head()

                  English text            train_type
0  They weren't working today.  past_continuous тneg
1     I wasn't meeting anyone.  past_continuous тneg
2  He wasn't attacking anyone.  past_continuous тneg
3    He wasn't doing anything.  past_continuous тneg
4     I wasn't doing anything!  past_continuous тneg

In [7]:
def y_translate(text, from_lang, to_lang):
    url_y = "http://192.168.122.13:31436/GetTranslate"
    h_y = {"apiVersion": "1.0.0", "text": text, "langPair": {"source": from_lang, "target": to_lang}}
    r = requests.post(url = url_y, json=h_y)
    data = r.json()
    return data['translate']
y_translate("привет уеба", "ru", "fr")

'salut, connard.'

In [8]:
tr_en_fr = []
for en_phrase in tqdm(list(df_overall['English text'])[4520:]):
    #print(en_phrase)
    translated_to_fr = y_translate(en_phrase, "en", "fr")
    tr_en_fr.append(translated_to_fr)
    #break

HBox(children=(IntProgress(value=0, max=2038), HTML(value='')))

In [11]:
len(tr_en_fr)

2038

In [12]:
tr_en_fr[:10]

['Tu lui as donné une chance?',
 "Quand il l'a jouer aux échecs?",
 'Pourquoi êtes-vous venu à la maison?',
 'Comment sommes-nous arrivés à la maison?',
 'Quand ont-ils devenir amis?',
 'Comment ont-ils choisir?',
 'Je vais acheter un peu de pain.',
 'Je vais lui refuser.',
 "Je vais l'attraper.",
 'Vous allez à embaucher.']

In [16]:
len(prev_trans_list)

4521

In [14]:
prev_trans_list[-10:]

['Elle vous appeler ce soir-là?',
 'Que voulait-il dire au sujet de sa famille?',
 "Saviez-vous que l'homme dans la voiture?",
 'Je suis désolé, vous avez dit quoi?',
 'Avez-vous venez en voiture?',
 'Tu es venu en train?',
 'Tu lui as laissé un message?',
 'Avez-vous lui acheter une bague?',
 'Tu lui as envoyé une réponse?',
 'Tu lui as donné une chance?']

In [15]:
full_en_fr_list = prev_trans_list[:-1]

In [18]:
full_en_fr_list.extend(tr_en_fr)

In [20]:
len(full_en_fr_list), len(df_overall)

(6558, 6558)

In [22]:
df_overall['en_fr_translate'] = full_en_fr_list
df_overall.head()

,English text,train_type,en_fr_translate
0,They weren't working today.,past_continuous тneg,Ils n'étaient pas au travail aujourd'hui.
1,I wasn't meeting anyone.,past_continuous тneg,Je n'ai pas de rencontrer une personne.
2,He wasn't attacking anyone.,past_continuous тneg,Il n'était pas d'attaquer n'importe qui.
3,He wasn't doing anything.,past_continuous тneg,Il n'a rien fait.
4,I wasn't doing anything!,past_continuous тneg,Je ne faisais pas n'importe quoi!

In [9]:
import json

In [10]:
with open("en_translate_list_ind_4521.json", "r") as f:
    prev_trans_list = json.load(f)

In [43]:
with open("en_translate_list_ind_4521", "w") as f:
    json.dump(tr_en_fr, f, indent = 1)

In [12]:
df_overall['en_fr_yandex_tr'] = tr_en_fr
df_overall.head()

   ID  Page ID          Local text          English text     en_fr_yandex_tr
0   1        4  Мне нравится вино.          I like wine.      J'aime le vin.
1   2        4         Я хочу всё.     I want everything        Je veux tout
2   3        4  Мне нравится зима.        I like winter.     J'aime l'hiver.
3   4        4     Я люблю читать.       I love reading.  J'aime la lecture.
4   5        4      Ты знаешь всё.  You know everything.    Vous savez tout.

In [15]:
tr_fr_en = []
for phrase in tqdm(list(df_overall['en_fr_yandex_tr'])):
    #print(en_phrase)
    translated = y_translate(phrase, "fr", "en")
    tr_fr_en.append(translated)
    #break

HBox(children=(IntProgress(value=0, max=751), HTML(value='')))

In [17]:
df_overall['fr_en_yandex_tr'] = tr_fr_en
df_overall.head()

,ID,Page ID,Local text,English text,en_fr_yandex_tr,fr_en_yandex_tr
0,1,4,Мне нравится вино.,I like wine.,J'aime le vin.,I like wine.
1,2,4,Я хочу всё.,I want everything,Je veux tout,I want it all
2,3,4,Мне нравится зима.,I like winter.,J'aime l'hiver.,I like winter.
3,4,4,Я люблю читать.,I love reading.,J'aime la lecture.,I like reading.
4,5,4,Ты знаешь всё.,You know everything.,Vous savez tout.,You know everything.

In [20]:
tr_ru_fr = []
for phrase in tqdm(list(df_overall['Local text'])):
    #print(en_phrase)
    translated = y_translate(phrase, "ru", "fr")
    tr_ru_fr.append(translated)
    #break

HBox(children=(IntProgress(value=0, max=751), HTML(value='')))

In [21]:
tr_ru_fr[:10]

["J'aime le vin.",
 'Je veux tout.',
 "J'aime l'hiver.",
 "J'aime lire.",
 'Tu connais tout.',
 "J'adore cuisiner.",
 'Ils savent tout.',
 'Nous avons besoin de temps.',
 'Nous aimons les gâteaux.',
 "J'aime le football."]

In [22]:
df_overall['ru_fr_yandex_tr'] = tr_ru_fr
df_overall.head()

,ID,Page ID,Local text,English text,en_fr_yandex_tr,fr_en_yandex_tr,ru_fr_yandex_tr
0,1,4,Мне нравится вино.,I like wine.,J'aime le vin.,I like wine.,J'aime le vin.
1,2,4,Я хочу всё.,I want everything,Je veux tout,I want it all,Je veux tout.
2,3,4,Мне нравится зима.,I like winter.,J'aime l'hiver.,I like winter.,J'aime l'hiver.
3,4,4,Я люблю читать.,I love reading.,J'aime la lecture.,I like reading.,J'aime lire.
4,5,4,Ты знаешь всё.,You know everything.,Vous savez tout.,You know everything.,Tu connais tout.

In [25]:
tr_fr_ru = []
for phrase in tqdm(list(df_overall['ru_fr_yandex_tr'])):
    #print(en_phrase)
    translated = y_translate(phrase, "fr", "ru")
    tr_fr_ru.append(translated)
    #break

HBox(children=(IntProgress(value=0, max=751), HTML(value='')))

In [26]:
tr_fr_ru[:10]

['Я люблю вино.',
 'Я хочу все.',
 'Я люблю зиму.',
 'Я люблю читать.',
 'Ты все знаешь.',
 'Я люблю готовить.',
 'Они все знают.',
 'Нам нужно время.',
 'Мы любим торты.',
 'Я люблю футбол.']

In [27]:
df_overall['fr_ru_yandex_tr'] = tr_fr_ru
df_overall.head()

,ID,Page ID,Local text,English text,en_fr_yandex_tr,fr_en_yandex_tr,ru_fr_yandex_tr,fr_ru_yandex_tr
0,1,4,Мне нравится вино.,I like wine.,J'aime le vin.,I like wine.,J'aime le vin.,Я люблю вино.
1,2,4,Я хочу всё.,I want everything,Je veux tout,I want it all,Je veux tout.,Я хочу все.
2,3,4,Мне нравится зима.,I like winter.,J'aime l'hiver.,I like winter.,J'aime l'hiver.,Я люблю зиму.
3,4,4,Я люблю читать.,I love reading.,J'aime la lecture.,I like reading.,J'aime lire.,Я люблю читать.
4,5,4,Ты знаешь всё.,You know everything.,Vous savez tout.,You know everything.,Tu connais tout.,Ты все знаешь.

In [28]:
df_overall.to_csv("raw_translated.csv")

In [30]:
df_check_fr = df_overall[['English text','en_fr_yandex_tr','fr_en_yandex_tr']]
df_check_fr.head()

           English text     en_fr_yandex_tr       fr_en_yandex_tr
0          I like wine.      J'aime le vin.          I like wine.
1     I want everything        Je veux tout         I want it all
2        I like winter.     J'aime l'hiver.        I like winter.
3       I love reading.  J'aime la lecture.       I like reading.
4  You know everything.    Vous savez tout.  You know everything.

In [34]:
equality_list = []
for en_phrase_orig, en_phrase_back_translated in zip(list(df_check_fr['English text']),list(df_check_fr['fr_en_yandex_tr'])):
    #print(en_phrase_orig, en_phrase_back_translated)
    equality = en_phrase_orig == en_phrase_back_translated
    #print(equality)
    equality_list.append(equality)

In [35]:
equality_list[:10]

[True, False, True, False, True, False, True, True, False, True]

In [36]:
df_check_fr ['correct_translation'] = equality_list
df_check_fr.head()

/Users/nigula/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,English text,en_fr_yandex_tr,fr_en_yandex_tr,correct_translation
0,I like wine.,J'aime le vin.,I like wine.,True
1,I want everything,Je veux tout,I want it all,False
2,I like winter.,J'aime l'hiver.,I like winter.,True
3,I love reading.,J'aime la lecture.,I like reading.,False
4,You know everything.,Vous savez tout.,You know everything.,True

In [42]:
len(df_check_fr[df_check_fr['correct_translation'] == True])

397

In [43]:
len(df_check_fr[df_check_fr['correct_translation'] == False])

354

In [37]:
df_check_fr.to_csv("french_check_all.csv")

In [40]:
df_check_fr[df_check_fr['correct_translation'] == True].to_csv('french_check_all_correct_tr.csv')

In [41]:
df_check_fr[df_check_fr['correct_translation'] == False].to_csv('french_check_all_incorrect_tr.csv')

# ru_fr

In [ ]:
df_check_ru_fr = df_overall[['Local text','en_fr_yandex_tr','ru_fr_yandex_tr']]